<!-- This Modal is used to create or update -->

<div class="modal fade" id="modalRegistroCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btnCloseCreateModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text text-center" id="exampleModalLabel">Registro de nuevo cliente</h3>
      </div>
      <div class="modal-body">
        <form>
          <div id="alerta2">

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtNombreCliente">Nombres:</label>
                <input id="txtNombreCliente" type="text" class="form-control" name="txtNombreCliente" [(ngModel)]="consumer.name"
                  placeholder="ingrese nombre" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtApellidos">Apellidos:</label>
                <input id="txtApellidos" type="text" class="form-control" name="txtApellidos" [(ngModel)]="consumer.lastName"
                  placeholder="ingrese apellidos" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtDireccionCliente">Direccion:</label>
                <input id="txtDireccionCliente" type="text" class="form-control" name="txtDireccionCliente" [(ngModel)]="consumer.address"
                  placeholder="ingrese direccion" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtTelefono">Telefono:</label>
                <input id="txtTelefono" type="text" class="form-control" name="txtTelefono" [(ngModel)]="consumer.cellphone"
                  placeholder="ingrese numero telefonico" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtRazonSocial">Razon Social:</label>
                <input id="txtRazonSocial" type="text" class="form-control" name="txtRazonSocial" [(ngModel)]="consumer.razonSocial"
                  placeholder="ingrese la razon social" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtCelular">Celular:</label>
                <input id="txtCelular" type="text" class="form-control" name="txtCelular" [(ngModel)]="consumer.phone"
                  placeholder="ingrese numero de celular" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtRuc">RUC:</label>
                <input id="txtRuc" type="text" class="form-control" name="txtRuc" [(ngModel)]="consumer.ruc"
                  placeholder="ingrese el numero de registro unico de contribuyente" />
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <div class="div-buttons-modal">
          <button *ngIf="!consumer.id" type="button" (click)="createCustomer()" class="btn btn-primary" title="Registrar cliente">Guardar</button>
          <button *ngIf="consumer.id" type="button" (click)="updateCustomer()" class="btn btn-primary" title="Registrar cliente">Actualizar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </div>

  </div>
</div>