<!-- This Modal is used to create or update -->

<div class="modal fade" id="modalRegistroCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btnCloseCreateModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text text-center" id="exampleModalLabel">Registro de nuevo Producto</h3>
      </div>
      <div class="modal-body">
        <form>
          <div id="alerta2">

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtNombreCliente">Marca:</label>
                <input id="txtNombreCliente" type="text" class="form-control" name="txtNombreCliente" [(ngModel)]="product.brand"
                  placeholder="Ingrese la mara del producto" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtApellidos">Peso:</label>
                <input id="txtApellidos" type="text" class="form-control" name="txtApellidos" [(ngModel)]="product.weight"
                  placeholder="Ingrese peso del producto" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="file" name="photo" ng2FileSelect  [uploader]="uploader" />
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  Adjuntar imagen
                 </button>
              </div>
              <div class="form-group">
               
              </div>
            </div>
          
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="txtDireccionCliente">Descripción:</label>
                <textarea id="txtDireccionCliente" type="text" rows="4" class="form-control" name="txtDireccionCliente"
                 ></textarea>
              </div>
            </div>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <div class="div-buttons-modal">
          <button *ngIf="!product.id" type="button" (click)="createProduct()" class="btn btn-primary" >Guardar</button>
          <button *ngIf="product.id" type="button" (click)="updateProduct()" class="btn btn-primary" >Actualizar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </div>

  </div>
</div>