<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../../assets/css/util.css">
<link rel="stylesheet" type="text/css" href="../../../assets/css/main.css">
<!--===============================================================================================-->

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" #formLogin="ngForm" (ngSubmit)="login()">
				<span class="login100-form-title">
					Login
				</span>
				<div id="alert">

				</div>	

				<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
					<input class="input100 form-contr"
					 type="text" 
					 name="username" 
					 [(ngModel)]="username"
					 required="true"
					 placeholder="Usuario">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input40 validate-input" data-validate="Please enter password">
					<input class="input100 form-contr" 
					type="password"
					name="password" 
					[(ngModel)]="password" 
					required="true"
					placeholder="Contraseña">
					<span class="focus-input100"></span>
				</div>

				<div class="text-right p-t-13 p-b-23">
					<span class="txt1">
						¿Olvidaste tu contraseña?
					</span>

					<a href="#" class="txt2">
						Recupérala
					</a>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn"  [disabled]="!formLogin.valid" (click)="login()">
						Ingresar
					</button>
				</div>

				<div class="flex-col-c p-t-40 p-b-40">
					<span class="txt1 p-b-9">
						No tienes una cuenta?
					</span>

					<a href="#" class="txt3">
						Registrate
					</a>
				</div>
			</form>
		</div>
	</div>
</div>




<script src="../../../assets/vendor/animsition/js/animsition.min.js"></script>
<script src="../../../assets/vendor/bootstrap/js/popper.js"></script>
<script src="../../../assets/vendor/select2/select2.min.js"></script>
<script src="../../../assets/vendor/daterangepicker/moment.min.js"></script>
<script src="../../../assets/vendor/daterangepicker/daterangepicker.js"></script>
<script src="../../../assets/vendor/countdowntime/countdowntime.js"></script>
<script src="../../../assets/js/main.js"></script>