/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');



/* Para mostrar alertas informativas*/
.alert-error {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 10px;
}

.alert-success {
    padding: 20px;
    background-color: #29a329    ;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}