<div class="container">
  <div  id="alerta">
  
  </div>
  <div>
    <h2 class="text text-center">Listado de clientes totales</h2>
  </div>
  <!-- Button trigger registrar cliente -->
  <div class="row div-button-registrar-usuario">
    <div class="col-md-2 col-md-offset-10">
      <button type="button" class="btn btn-primary" (click)="prepareCreateCustomer()" data-toggle="modal" data-target="#modalRegistroCliente"
        title="Registrar un nuevo cliente.">
        <span class="glyphicon glyphicon-plus"></span> Registrar cliente
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover table-bordered">
        <tr>
          <th class="text text-center">Nro.</th>
          <th class="text text-center">Nombres</th>
          <th class="text text-center">Apellidos</th>
          <th class="text text-center">Direccion</th>
          <th class="text text-center">Celular</th>
          <th class="text text-center col-acciones">Opcion</th>
        </tr>
        <tr *ngFor="let consumer of consumers; index as i">
          <td> {{i+1}}</td>
          <td> {{consumer.name}}</td>
          <td> {{consumer.lastName}}</td>
          <td> {{consumer.address}}</td>
          <td> {{consumer.cellphone}}</td>
          <td class="text text-center">
            <button type="button" (click)="prepareDeleteCustomer(consumer.id)" title="eliminar" data-toggle="modal"
              data-target="#modalEliminarCliente" class="btn btn-xs  btn-eliminar">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button type="button" (click)="updateCustomer(consumer)" title="editar" data-toggle="modal" data-target="#modalRegistroCliente"
              class="btn btn-xs">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </td>


        </tr>
      </table>
    </div>
  </div>
  <!-- Modal Delete Cliente -->

  <div class="modal fade" id="modalEliminarCliente" tabindex="-1" role="dialog" aria-labelledby="deleteClienteModel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button id="btnCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="text text-center">Esta seguro que desea eliminar?</h3>
        </div>
        <div class="modal-footer">
          <div class="div-buttons-modal">
            <button type="button" (click)="deleteCustomer()" class="btn btn-primary">Si</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>