<div style="text-align:center">
  <nav class="navbar navbar-inverse">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  routerLinkActive="active current">
          <a routerLink="/core/home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/core/product">Productos</a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/core/order">Pedidos</a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/core/distributor">Distribuidor</a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/core/question">Consultas</a>
        </li>
        <li  routerLinkActive="active current">
          <a routerLink="/core/customer">Clientes</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</div>

<router-outlet></router-outlet>
